*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    max-width: 1920px;
}

.navbar{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar img{
    width: 155px;
    height: 100%;
    margin-left: 50px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    justify-content: space-between;
    color:grey;
    padding:0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgba(83, 79, 79, 0.959);
}
.navbar .left img{
    width:  35px;
    height: 35px;
    margin-left: 298px;
    padding: 37px 0px 0px 1px;
}
.h-middle {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.911);
    background: url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
    background-repeat: no-repeat;
    background-size: cover;

}
.h-middle h1{
    font-size: 80px;
}

input{
    height: 40px;
    width: 150px;
    background: whitesmoke;
    border-radius: 20px;
    padding: 0 20px;
    border: none;
    margin: 0 50px 0 0;
}

input:focus{
    border: 2px solid dodgerblue;
    outline: none;
}