*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    text-align: center;
    display: flex;
    background-color: white;
    position: fixed;
}
.navbar img{
    width: 155px;
    height: 100%;
    background: transparent;
    margin-left: 60px;
    cursor: pointer;
}
.navbar ul{
    padding: 0 0 0 142px;
}

.navbar ul li{
    display: inline-block;
    justify-content: space-between;
    color:grey;
    padding:42px 0px 0px 34px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgba(83, 79, 79, 0.959);
}
.navbar .left img{
    width:  35px;
    height: 35px;
    margin-left: 298px;
    padding: 37px 0px 0px 1px;
}
.h-middle img{
    width: 100%;
    height: 75%;
}
.h-middle h1{
    margin-left: 43%;
}